* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .deck {
    width: 10rem;
    height: 4.75rem;
    transform: translateX(5rem);
    font-size: 3.5rem;
    background-color: black;
    color: white;
    border-radius: 0.75rem;
    &:hover {
      cursor: pointer;
    }
  }
  .coin {
    width: 7rem;
    height: 4.75rem;
    font-size: 2rem;
    text-align: center;
    transform: translateX(5rem);
  }

  .tabuleiro {
    display: grid;
    position: relative;
    width: fit-content;

    .card {
      position: absolute;
      align-self: center;
    }

    .casa {
      display: flex;
      flex-direction: column;
      width: 75px;
      height: 75px;
      border: 1px solid black;
      word-break: break-all;
      text-align: center;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;

      span {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 900;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}

// cores dos temas
.casa {
  .S {
    background-color: #bb44ff;
  }

  .V {
    background-color: #fffd54;
  }
  .M {
    background-color: #ffcc99;
  }
  .EL {
    background-color: #a9fbd7;
  }
  .CT {
    background-color: #00bfff;
  }
  .AE {
    background-color: #ff6b6b;
  }
}

// formatos de tabuleiro
.quadrado {
  gap: 0.2rem;
  grid-template-areas:
    'a4  a5  a6  a7  a8  a9  a10 a11 a12'
    'a3  .   .   .   .   .   .   .   a13'
    'a2  .   .   .   .   .   .   .   a14'
    'a1  .   .   .   .   .   .   .   a15'
    '.   .   .   .   .   .   .   .   a16'
    'a31 .   .   .   .   .   .   .   a17'
    'a30 .   .   .   .   .   .   .   a18'
    'a29 .   .   .   .   .   .   .   a19'
    'a28 a27 a26 a25 a24 a23 a22 a21 a20';
  & > .casa:nth-child(4) {
    border-radius: 2rem 0 0 0;
  }
  & > .casa:nth-child(12) {
    border-radius: 0 2rem 0 0;
  }
  & > .casa:nth-child(20) {
    border-radius: 0 0 2rem 0;
  }
  & > .casa:nth-child(28) {
    border-radius: 0 0 0 2rem;
  }
}

.pica {
  gap: 0.2rem;
  grid-template-areas:
    'a3  a4  a5  a6   .   .   .   .   .    .   .'
    'a2  .   .   a7   .   .   .   .   .    .   .'
    'a1  .   .   a8   a31 a30 a29 a28 a27  .   .'
    '.   a10 a9  .    .   .   .   .   a24  a25 a26'
    'a11 .   .   a18  a19 a20 a21 a22 a23  .   .'
    'a12 .   .   a17  .   .   .   .   .    .   .'
    'a13 a14 a15 a16  .   .   .   .   .    .   .';
  & > .casa:nth-child(1) {
    border-radius: 0 0 2rem 2rem;
  }
  & > .casa:nth-child(3) {
    border-radius: 2rem 0 0 0;
  }
  & > .casa:nth-child(6) {
    border-radius: 0 2rem 0 0;
  }
  & > .casa:nth-child(8) {
    border-radius: 0 0 0 2rem;
  }
  & > .casa:nth-child(9) {
    border-radius: 1.5rem;
  }
  & > .casa:nth-child(10) {
    border-radius: 1.5rem;
  }
  & > .casa:nth-child(11) {
    border-radius: 2rem 2rem 0 0;
  }
  & > .casa:nth-child(13) {
    border-radius: 0 0 0 2rem;
  }
  & > .casa:nth-child(16) {
    border-radius: 0 0 2rem 0;
  }
  & > .casa:nth-child(18) {
    border-radius: 2rem 0 0 0;
  }
  & > .casa:nth-child(23) {
    border-radius: 0 0 2rem 0;
  }

  & > .casa:nth-child(25) {
    transform: translateX(2rem);
  }
  & > .casa:nth-child(26) {
    transform: translateX(2.5rem);
  }

  & > .casa:nth-child(27) {
    border-radius: 0 2rem 0 0;
  }
}

// registra a grid-area
.tabuleiro {
  & > .casa:nth-child(1) {
    grid-area: a1;
  }
  & > .casa:nth-child(2) {
    grid-area: a2;
  }
  & > .casa:nth-child(3) {
    grid-area: a3;
  }
  & > .casa:nth-child(4) {
    grid-area: a4;
  }
  & > .casa:nth-child(5) {
    grid-area: a5;
  }
  & > .casa:nth-child(6) {
    grid-area: a6;
  }
  & > .casa:nth-child(7) {
    grid-area: a7;
  }
  & > .casa:nth-child(8) {
    grid-area: a8;
  }
  & > .casa:nth-child(9) {
    grid-area: a9;
  }
  & > .casa:nth-child(10) {
    grid-area: a10;
  }
  & > .casa:nth-child(11) {
    grid-area: a11;
  }
  & > .casa:nth-child(12) {
    grid-area: a12;
  }
  & > .casa:nth-child(13) {
    grid-area: a13;
  }
  & > .casa:nth-child(14) {
    grid-area: a14;
  }
  & > .casa:nth-child(15) {
    grid-area: a15;
  }
  & > .casa:nth-child(16) {
    grid-area: a16;
  }
  & > .casa:nth-child(17) {
    grid-area: a17;
  }
  & > .casa:nth-child(18) {
    grid-area: a18;
  }
  & > .casa:nth-child(19) {
    grid-area: a19;
  }
  & > .casa:nth-child(20) {
    grid-area: a20;
  }
  & > .casa:nth-child(21) {
    grid-area: a21;
  }
  & > .casa:nth-child(22) {
    grid-area: a22;
  }
  & > .casa:nth-child(23) {
    grid-area: a23;
  }
  & > .casa:nth-child(24) {
    grid-area: a24;
  }
  & > .casa:nth-child(25) {
    grid-area: a25;
  }
  & > .casa:nth-child(26) {
    grid-area: a26;
  }
  & > .casa:nth-child(27) {
    grid-area: a27;
  }
  & > .casa:nth-child(28) {
    grid-area: a28;
  }
  & > .casa:nth-child(29) {
    grid-area: a29;
  }
  & > .casa:nth-child(30) {
    grid-area: a30;
  }
  & > .casa:nth-child(31) {
    grid-area: a31;
  }
  & > .casa:nth-child(32) {
    grid-area: a32;
  }
}
